<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: deeppink;
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">Installation</h1>
    <h2 class="h2-text">Introduction</h2>
    <p>
        Playwright was created specifically to accommodate the needs of end-to-end testing. Playwright supports all
        modern
        rendering engines including <span style="color: green">Chromium,</span> WebKit, and Firefox. Test on Windows,
        Linux, and macOS, locally or on CI,
        headless or headed with native mobile emulation.
    </p>
    <a href="https://playwright.dev/python/docs/library" target="_blank">Playwright library</a>
    <img alt="browser.png" src="https://playwright.dev/python/img/logos/Browsers.png" width="40%"
         alt="Browsers (Chromium, Firefox, WebKit)">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" placeholder="Text">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <textarea placeholder="Напишите здесь свой роман..."></textarea>
        <button type="submit" disabled="true">Text</button>

    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>